main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: black;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;


}

.box { 
    position: relative;
    width: 100%;
    max-width: 1276px;
    max-height: 935px; 
    height: 935px;
    background-color: white;
    border-radius: 1.2rem;

}

.inner-box {
    position: absolute;
    height: 100%;
    width: 100%;
}

.form-wrap {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: .8s ease-in-out;
    
}

.carousel { 
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    transition: .8s ease-in-out;
    left: 50%;
    height: 100%;
}

.sign-up-form {
    opacity: 0;
    pointer-events: none;
}

.main.sign-up-mode .sign-in-form {
    opacity: 0;
    pointer-events: none;
  


}
.main.sign-up-mode .sign-up-form {
    opacity: 1;
    pointer-events: all;
    

}
.main.sign-up-mode .form-wrap {
    left: 50%;

}

.main.sign-up-mode .carousel {
    left: 0%;

}
