.app {
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  padding: 2rem;
  min-width: 384px;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card > h2 {
  text-align: center;
  margin: 0 0 2rem;
}

.center-error-message:where(.ant-form-item) .ant-form-item-explain-error {
  text-align: center;
}

.input-classname {
  border-radius: 16px;
}

.wrapper-classname {
  gap: 4px;
  margin-bottom: 24px;
}
