

html *  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
input {
  font-family: "Poppins", sans-serif;

}


a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  margin: 1px;
}
